<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<<<<<<< HEAD

  <!-- Import library code (export to pdf)  -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>

  <!-- Import library code (export to excel)  -->
  <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
=======
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
    /* Note: Try to remove the following lines to see the effect of CSS positioning */
    .affix {
      top: 0;
      z-index: 9999 !important;
      opacity: 0.4;
    }
    .affix-csv {
      left: 145px;
      top: 0;
    }
    .affix:hover {
      opacity: 1;
    }
    @page { margin: 0; size: landscape; }
    </style>

    <style media="print">
      body {
        zoom: 50%;
      }
      .print {
        visibility: hidden;
      }
    </style>
>>>>>>> c57add281f1b83a125cee404518c38d83d767ce6

  <title>datatable</title>

  <script>
    function generatePDF() {
      var doc = new jsPDF('l', 'pt', "a4");
      doc.autoTable({
        html: '#test',
      })
      doc.save('Datatable.pdf');
    }  
  </script>

  <script>
    function ExportToExcel(type, fn, dl) {
      var elt = document.getElementById('test');
      var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
      return dl ?
        XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
        XLSX.writeFile(wb, fn || ('Datatable.' + (type || 'xlsx')));
    }
  </script>

</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light"
      style="width: 200%;background: linear-gradient(180deg, rgba(82,151,217,1) 19%, rgba(229,241,255,1) 100%)" ;>

      <a class="navbar-brand" href="#">AIR QUALITY<br>SENSOR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"><b>HOME</b><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/"><b>DATA</b></a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="/history/get"><b>HISTORY</b></a>
          </li>
      </div>
    </nav>

    <figure class="text-center">
      <h2>DATA SITE : TEST</h2>
    </figure>

<<<<<<< HEAD
    <button class="btn btn-outline-primary" onclick="generatePDF('pdf')">PDF</button>
    <button class="btn btn-outline-success" onclick="ExportToExcel('xlsx')">EXCEL</button>

    <div class="info-body">
      <table class="table table-bordered" id="test">
        <thead style="background-color: rgba(116,178,238,1)" ;>
          <tr>
            <th>ID</th>
            <th>DATE TIME</th>
            <th>DATA 1</th>
            <th>STATUS 1</th>
            <th>DATA 2</th>
            <th>STATUS 2</th>
            <th>DATA 3</th>
            <th>STATUS 3</th>
            <!-- <th>DATA 4</th>
            <th>STATUS 4</th>
            <th>DATA 5</th>
            <th>STATUS 5</th>
            <th>DATA 6</th>
            <th>STATUS 6</th>
            <th>DATA 7</th>
            <th>STATUS 7</th>
            <th>DATA 8</th>
            <th>STATUS 8</th>
            <th>DATA 9</th>
            <th>STATUS 9</th>
            <th>DATA 10</th>
            <th>STATUS 10</th> -->
            <!-- <th>DATA 11</th>
            <th>STATUS 11</th>
            <th>DATA 12</th>
            <th>STATUS 12</th>
            <th>DATA 13</th>
            <th>STATUS 13</th>
            <th>DATA 14</th>
            <th>STATUS 14</th>
            <th>DATA 15</th>
            <th>STATUS 15</th>
            <th>DATA 16</th>
            <th>STATUS 16</th> -->
=======
    <button class="btn btn-primary print" type="button" onclick="document.title = 'Datalog';window.print()" data-spy="affix" data-offset-top="140">Dowmload PDF</button>
    <a class="btn btn-primary print affix-csv" data-spy="affix" data-offset-top="125" href='/get/download/<%=start%>/<%=end%>'">Download CSV</a>
    <div class="info-body">
      <table class="table table-striped table-bordered">
        <thead style="background-color: rgba(116,178,238,1)" ;>
          <tr >
            <th class="text-center">ID</th>
            <th class="text-center">DATE TIME</th>
            <th class="text-center">DATA 1</th>
            <th class="text-center">STATUS 1</th>
            <th class="text-center">DATA 2</th>
            <th class="text-center">STATUS 2</th>
            <th class="text-center">DATA 3</th>
            <th class="text-center">STATUS 3</th>
            <th class="text-center">DATA 4</th>
            <th class="text-center">STATUS 4</th>
            <th class="text-center">DATA 5</th>
            <th class="text-center">STATUS 5</th>
            <th class="text-center">DATA 6</th>
            <th class="text-center">STATUS 6</th>
            <th class="text-center">DATA 7</th>
            <th class="text-center">STATUS 7</th>
            <th class="text-center">DATA 8</th>
            <th class="text-center">STATUS 8</th>
            <th class="text-center">DATA 9</th>
            <th class="text-center">STATUS 9</th>
            <th class="text-center">DATA 10</th>
            <th class="text-center">STATUS 10</th>
            <th class="text-center">DATA 11</th>
            <th class="text-center">STATUS 11</th>
            <th class="text-center">DATA 12</th>
            <th class="text-center">STATUS 12</th>
            <th class="text-center">DATA 13</th>
            <th class="text-center">STATUS 13</th>
            <th class="text-center">DATA 14</th>
            <th class="text-center">STATUS 14</th>
            <th class="text-center">DATA 15</th>
            <th class="text-center">STATUS 15</th>
            <th class="text-center">DATA 16</th>
            <th class="text-center">STATUS 16</th>
            
>>>>>>> c57add281f1b83a125cee404518c38d83d767ce6
          </tr>
        </thead>
        <tbody>
        <tbody style="background-color: #e3f2fd" ;>
          <% datas.forEach(function(data){ %>
            <!-- สั่ง loop จากที่เราส่งมาจาก server -->
<<<<<<< HEAD

            <tr>
              <td>
                <%= data.id %>
              </td>
              <td>
                <%= data.datetime %>
              </td>
              <td>
                <%= data.data1 %>
              </td>
              <td>
                <%= data.status1 %>
              </td>
              <td>
                <%= data.data2 %>
              </td>
              <td>
                <%= data.status2 %>
              </td>
              <td>
                <%= data.data3 %>
              </td>
              <td>
                <%= data.status3 %>
              </td>
              <!-- <td>
                <%= data.data4 %>
              </td>
              <td>
                <%= data.status4 %>
              </td>
              <td>
                <%= data.data5 %>
              </td>
              <td>
                <%= data.status5 %>
              </td>
              <td>
                <%= data.data6 %>
              </td>
              <td>
                <%= data.status6 %>
              </td>
              <td>
                <%= data.data7 %>
              </td>
              <td>
                <%= data.status7 %>
              </td>
              <td>
                <%= data.data8 %>
              </td>
              <td>
                <%= data.status8 %>
              </td>
              <td>
                <%= data.data9 %>
              </td>
              <td>
                <%= data.status9 %>
              </td>
              <td>
                <%= data.data10 %>
              </td>
              <td>
                <%= data.status10 %>
              </td> -->
              <!-- <td>
                  <%= data.data11 %>
                </td>
                <td>
                  <%= data.status11 %>
                </td>
                <td>
                  <%= data.data12 %>
                </td>
                <td>
                  <%= data.status12 %>
                </td>
                <td>
                  <%= data.data13 %>
                </td>
                <td>
                  <%= data.status13 %>
                </td>
                <td>
                  <%= data.data14 %>
                </td>
                <td>
                  <%= data.status14 %>
                </td>
                <td>
                  <%= data.data15 %>
                </td>
                <td>
                  <%= data.status15 %>
                </td>
                <td>
                  <%= data.data16 %>
                </td>
                <td>
                  <%= data.status16 %>
                </td> -->
            </tr>
            <% }) %>
=======
            
              <tr>
                <td>
                  <%= data.id %>
                </td>
                <td>
                  <%= data.datetime %>
                </td>
                <td>
                  <%= data.data1 %>
                </td>
                <td>
                  <%= data.status1 %>
                </td>
                <td>
                  <%= data.data2 %>
                </td>
                <td>
                  <%= data.status2 %>
                </td>
                <td>
                  <%= data.data3 %>
                </td>
                <td>
                  <%= data.status3 %>
                </td>
                <td>
                  <%= data.data4 %>
                </td>
                <td>
                  <%= data.status4 %>
                </td>
                <td>
                  <%= data.data5 %>
                </td>
                <td>
                  <%= data.status5 %>
                </td>
                <td>
                  <%= data.data6 %>
                </td>
                <td>
                  <%= data.status6 %>
                </td>
                <td>
                  <%= data.data7 %>
                </td>
                <td>
                  <%= data.status7 %>
                </td>
                <td>
                  <%= data.data8 %>
                </td>
                <td>
                  <%= data.status8 %>
                </td>
                <td>
                  <%= data.data9 %>
                </td>
                <td>
                  <%= data.status9 %>
                </td>
                <td>
                  <%= data.data10 %>
                </td>
                <td>
                  <%= data.status10 %>
                </td>
                <td>
                  <%= data.data11 %>
                </td>
                <td>
                  <%= data.status11 %>
                </td>
                <td>
                  <%= data.data12 %>
                </td>
                <td>
                  <%= data.status12 %>
                </td>
                <td>
                  <%= data.data13 %>
                </td>
                <td>
                  <%= data.status13 %>
                </td>
                <td>
                  <%= data.data14 %>
                </td>
                <td>
                  <%= data.status14 %>
                </td>
                <td>
                  <%= data.data15 %>
                </td>
                <td>
                  <%= data.status15 %>
                </td>
                <td>
                  <%= data.data16 %>
                </td>
                <td>
                  <%= data.status16 %>
                </td>
              </tr>
          <% }) %>
>>>>>>> c57add281f1b83a125cee404518c38d83d767ce6
        </tbody>
        </tbody>
      </table>
    </div>
  </div>

</body>

</html>