<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <title>datatable</title>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light"
      style="background: linear-gradient(180deg, rgba(82,151,217,1) 19%, rgba(229,241,255,1) 100%)" ;>

      <a class="navbar-brand" href="#">AIR QUALITY<br>SENSOR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"><b>HOME</b><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/"><b>DATA</b></a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="/history/get"><b>HISTORY</b></a>
          </li>
      </div>
    </nav>

    <figure class="text-center">
      <blockquote class="blockquote">
        <p>DATA SITE : TEST</p>
      </blockquote>
    </figure>

    <div class="info-body">
      <table class="table table-bordered">
        <thead style="background-color: rgba(116,178,238,1)" ;>
          <tr>
            <th>SITE</th>
            <th>DATE TIME</th>
            <th>CHANNEL</th>
            <th>UNITS</th>
            <th>RAW VAL.</th>
            <th>INSTANT.</th>
            <th>STATUS</th>
            <th>1 MIN.</th>
            <th>STATUS</th>
            <th>5 MIN.</th>
            <th>STATUS</th>
            <th>10 MIN.</th>
            <th>STATUS</th>
            <th>60 MIN.</th>
            <th>STATUS</th>
          </tr>
        </thead>
        <tbody>
        <tbody style="background-color: #e3f2fd" ;>
          <% datas.forEach(function(data){ %>
            <!-- สั่ง loop จากที่เราส่งมาจาก server -->
            <% if(start <=data.Date && end>= data.Date){ %>
              <tr>
                <td>
                  <%= data.Site %>
                </td>
                <td>
                  <%= data.Date %>
                </td>
                <td>
                  <%= data.Channel %>
                </td>
                <td>
                  <%= data.Units %>
                </td>
                <td>
                  <%= data.Raw %>
                </td>
                <td>
                  <%= data.Instant %>
                </td>
                <td>
                  <%= data.Status1 %>
                </td>
                <td>
                  <%= data.Min1 %>
                </td>
                <td>
                  <%= data.Status2 %>
                </td>
                <td>
                  <%= data.Min5 %>
                </td>
                <td>
                  <%= data.Status3 %>
                </td>
                <td>
                  <%= data.Min10 %>
                </td>
                <td>
                  <%= data.Status4 %>
                </td>
                <td>
                  <%= data.Min60 %>
                </td>
                <td>
                  <%= data.Status5 %>
                </td>
              </tr>
            <% } %>
          <% }) %>
        </tbody>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</body>

</html>